aaTest/.env.sh
aaTest/A..z.sh
aaTest/aaa.sh
aaTest/arguments.sh
aaTest/array.sh
aaTest/bbb.sh
aaTest/breakContinue.sh
aaTest/case.sh
aaTest/ccc.sh
aaTest/cclean.sh
aaTest/check.sh
aaTest/cmatrix.sh
aaTest/comparison.sh
aaTest/conversation.sh
aaTest/count.sh
aaTest/debugmode.sh
aaTest/dollarvar.sh
aaTest/drink.sh
aaTest/editor.sh
aaTest/emoji.sh
aaTest/Equal.sh
aaTest/executable.sh
aaTest/findAndDelete.sh
aaTest/foo.sh
aaTest/for.sh
aaTest/forloop.sh
aaTest/format-usb.sh
aaTest/forSomethingDo.sh
aaTest/gdd.sh
aaTest/ggg.sh
aaTest/gpgVerifi.sh
aaTest/hostname.sh
aaTest/if.sh
aaTest/if2.sh
aaTest/if2323.sh
aaTest/ifelse.sh
aaTest/ifelse3.sh
aaTest/ifelse22.sh
aaTest/ifelse23.sh
aaTest/math.sh
aaTest/myip
aaTest/name.sh
aaTest/operator.sh
aaTest/pamacMaintain.sh
aaTest/password.sh
aaTest/ping.sh
aaTest/powerlineGo.sh
aaTest/pwd.sh
aaTest/random.sh
aaTest/read.sh
aaTest/sdwdw.sh
aaTest/select.sh
aaTest/shell.sh
aaTest/smb_server.sh
aaTest/smbUpAreNot.sh
aaTest/sss.sh
aaTest/string.sh
aaTest/swapcheck.sh
aaTest/tempCodeRunnerFile.sh
aaTest/tempCodeRunnerFile.shellscript
aaTest/test3.sh
aaTest/test23.sh
aaTest/test55.sh
aaTest/test323.sh
aaTest/test3432.sh
aaTest/testInput.sh
aaTest/testscript.sh
aaTest/testttt.sh
aaTest/ufw.sh
aaTest/Untitled-1.sh
aaTest/uptime.sh
aaTest/user.sh
aaTest/userInput.sh
aaTest/uut.sh
aaTest/variable.sh
aaTest/wdw.bash
aaTest/wewe.sh
aaTest/while.sh
aaTest/while23.sh
aaTest/whileloop.sh
aaTest/xinitrc-test
aaTest/.vscode/environment.json
aaTest/.vscode/launch.json
aaTest/aa/function.sh
aaTest/dd/bash-completion.sh
aaTest/dd/.vscode/launch.json
aaTest/hashTest/eeeee.sh
aaTest/hashTest/hashCheck.sh
aaTest/hashTest/tempCodeRunnerFile.sh
aaTest/loopcount.sh
